.contenedor-register{
    background-color: #C7BCA1;
    height: 100%;
}
.form-form{
    background-color: #8B7E74;
}
.container-check{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
/* .container-register{
    height: 100%;
    width: 100%;
} */