.contenedor-detalle{
    background-color: #C7BCA1;
}
.card-detalle{
    background-color: #8B7E74;
    text-align: center;
    height: 65%;
}
/* .titulo{
    width: 70%;
}
.descripcion{
    width: 70%;
}
.contacto{
    width: 70%;
}
.email{
    width: 70%;
} */